@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
  font-family: 'Montserrat', sans-serif;
}

.kep{
    border-radius: 50%;
  }
  .kartya{
    position: sticky;
  }
  .alcim{
    font-weight: bold;
    color: darkgreen;
  }
  .egyéb{
    background-color: rgba(128, 128, 128, 0.44);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  .bold{
    font-weight: bold;
  }
  .font-style{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-indent: 30px;
    text-decoration: underline;
  }
  .font-styles{
    font-family: 'Garamond ';
    color: rgb(46, 46, 46);
  }
  .txt-decoff{
    text-decoration: none;
  }
  
  #mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4);
  }
  
  .shade{
    background-color: rgba(255, 255, 255, 0.034);
    margin-inline: 10px;
    border-bottom-left-radius: 10px;
  }

  .dropdown-menu {
    background:rgb(235, 167, 8);
  }
  a.dropdown-toggle {
    color:#dfdfdf !important;
  }
  a.dropdown-item:hover {
    color:rgb(0, 0, 0) !important;
  }
  .nav-item a{
    color:#dfdfdf;
  }
  .nav-item a:hover {
    color: yellow;
    font-weight: bold;
  }
  .nav-item{
    min-width:12vw;
  }
  #mainNavigation {
    top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:120px;
    background-color: black;
    color: white;
    /*background: rgb(150,28,7);*/
    /*background: linear-gradient(90deg, rgba(150,28,7,1) 0%, rgba(0,0,0,1) 100%);*/
    //*background: linear-gradient(to right,  rgba(191, 209, 24) 0%,rgba(165, 153, 21) 78%); */
    
  }
  #navbarNavDropdown.collapsing .navbar-nav,
  #navbarNavDropdown.show .navbar-nav{
    padding:12px;
  }
  .k{
    height: 100px;
    width: 100px;
    
    border-radius: 40px;
  }
  .l{
    -webkit-text-stroke: 1px black;
  }
  .egyed1{
    background-color: black !important;
  }
  .egyed2{
    background: linear-gradient(90deg, rgba(31,29,29,1) 0%, rgba(150,28,7,1) 100%);
  }
  .accordion-item {
    background-color: #000;
  }
  .kard{
    background-color: #ffffff6a;
    border-radius: 40px;
    padding: 20px;
    text-indent: 10px;
    margin: 10px;
    border-left: yellow 5px solid;
  }
  .navbar-toggler-icon {
    background-image: url(/IMG/up-arrow-svgrepo-com.svg) !important;
  }
  .navbar-toggler-icon::after{
    background-image: url(/IMG/up-arrow-svgrepo-com-forditva.svg) !important;
  }
  .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
  .egyedi{
    height: 300px;
    width: 200px;
  }
  .text-white-egy{
    color: rgb(0, 0, 0) !important;
  }
  .report-popup-on{
    display: block !important;
  }
  .report-popup{
    z-index: 99;
    display: none;
    position: absolute;
    top: 1;
    left: 1;
    background-color: rgba(73, 72, 72, 0.479);
    width: 100%;
    height: 100%;
  }
  @media only screen and (min-width: 600px) {
    .report{
      position: absolute;
      top: 10%;
      left: 30%;
      margin: 20px;
    }
  }
  
  .report-content{
    
    background-color: black;
    
  }
  
  .report-h1 {
    font-weight: bold;
    margin: 0;
    
}

.report-h2 {
    text-align: center;
    color: #fe5454;
    border: 1px solid #fe5454;
    padding: 4px;
    border-radius: 8px;
    margin-inline: 18px;
    width: 66%;
    margin: 0 auto;
}

.report p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.report span {
    font-size: 12px;
}

.report a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.report button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.report button:active {
    transform: scale(0.95);
}

.report button:focus {
    outline: none;
}

.report button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.report form {
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(84,84,84,1) 99%, rgba(254,84,84,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    
}

.report input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.report {
    background-color: #fe5454;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px #fe5454;
}

.form-report {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-report {
    left: 0;
    width: 50%;
    z-index: 2;
}

.report.right-panel-active .sign-in-report {
    transform: translateX(100%);
}

.sign-up-report {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.report.right-panel-active .sign-up-report {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-report {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.report.right-panel-active .overlay-report {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.report.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.report.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.report.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-report {
    margin: 20px 0;
}

.social-report a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}  

@media screen and (max-width: 768px) {
    .report {
        width: 100%;
        flex-direction: column;
    }

    .form-report,
    .overlay-report {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        
    }

    .report.right-panel-active .sign-in-report,
    .report.right-panel-active .sign-up-report,
    .report.right-panel-active .overlay-report {
        transform: translateX(0);
        width: 100%;
    }

    .overlay {
        display: none;
    }

    .form-report {
        height: auto;
        padding: 20px;
        
    }
    form{
        border-radius: 10px;
        margin: 9px;
    }
}